<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header Fragment</title>

</head>
<body>
<header th:fragment="header(member)">
    <h2 style="color: white">Web Study</h2>
    <nav>
        <a href="#">강의</a>
        <a href="#">로드맵</a>
        <a href="#">멘토링</a>
        <a href="#">커뮤니티</a>
    </nav>

    <div>
        <!-- 사용자 정보가 없는 경우 로그인 버튼 노출 -->
        <button th:if="${member == null}" class="login" onclick="location.href='/login'">로그인</button>

        <!-- 사용자 정보가 있는 경우 사용자 페이지로 이동하는 버튼 노출 -->
        <form th:if="${member != null}" th:action="@{/mypage/{userId}(userId=${member.key})}" method="GET">
            <button type="submit" class="login">[[${member.memberId}]] 님</button>
        </form>
    </div>
</header>
</body>
</html>
